.container-main {
  /* padding-right: 0px;
  padding-left: 0px; */
  float: left;
}

.very-topbar {
  background-color: #ffc4ce;
  height: 40px;
}

.topbar-dark {
  background-color: black;
  height: 8px;
}

.navbar-custom {
  padding-top: 8px;
  padding-bottom: 8px;
}

.text-center {
  text-align: center;
  align-items: center;
}

.nav-text {
  padding-top: 5px;
  padding-bottom: 5px;
}

.first-page {
  height: 100vh;
  background-color: red;
}
