doctype html
html
  head
    base(href='/')
    title Amore Doni
    meta(charset='UTF-8')
    meta(name='description', content='Something else here')
    meta(name='format-detection', content='telephone=no')
    meta(name='msapplication-tap-highlight', content='no')
    meta(name='viewport', content='user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width')
    link(rel="icon" type="image/x-icon" href="logo.png" )
    link(rel="icon" type="image/png" sizes="16x16" href="logo-16.png")
    link(rel="icon" type="image/png" sizes="32x32" href="logo-32.png")
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css' integrity='sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I' crossorigin='anonymous')
    link(rel='stylesheet' href='index.css')
  body
    block content
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js' integrity='sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/' crossorigin='anonymous')
